<section class="text-gray-600 body-font">
  <div class='text-center mt-6'>
    <%= link_to '新規投稿', new_post_path, class: "btn btn-accent btn-wide" %>
    <div class = 'mt-6 text-xl font-bold'><%= current_user.name +  "'s Log" %></div>
  </div>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            <% if @posts.present? %>
                <%= render @posts %>
            <% else %>
                <div class="text-base m-auto">投稿がありません</div>
            <% end %>
        </div>
        <div class= 'mt-6 text-center text-lg'>
        <%= paginate @posts %>
        </div>
    </div>
</section>